@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    display: flex;
    justify-content: center;
   
 }

::-webkit-scrollbar {
    display: none;
}